.flows.json.backup
[
    {
        "id": "9c617a91ead5c9c3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a17c9063394ce04e",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/cu.usbmodemDCDA0C21C5BC2",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "25e9a4029c0aff9c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "f7e970a831da1739",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "5214809e76c77a9c",
        "type": "ui-theme",
        "name": "ui-base.label.theme 2",
        "colors": {
            "surface": "#000000",
            "primary": "#0094ce",
            "bgPage": "#444444",
            "groupBg": "#232323",
            "groupOutline": "#fcffff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4a06c9c93d0ab176",
        "type": "ui-page",
        "name": "Kidney NMP",
        "ui": "25e9a4029c0aff9c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5214809e76c77a9c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "28d4bbdde9f953ac",
        "type": "ui-group",
        "name": "Temperature",
        "page": "4a06c9c93d0ab176",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eee6be0fa8cf8841",
        "type": "ui-group",
        "name": "Pressure",
        "page": "4a06c9c93d0ab176",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "af1055a549205611",
        "type": "serial in",
        "z": "9c617a91ead5c9c3",
        "name": "Temps-Mac",
        "serial": "a17c9063394ce04e",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "d4f158d279f12ee6"
            ]
        ]
    },
    {
        "id": "d4f158d279f12ee6",
        "type": "json",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "51cf3e5d19e7cc44",
                "7245ea217c743ad6"
            ]
        ]
    },
    {
        "id": "51cf3e5d19e7cc44",
        "type": "ui-gauge",
        "z": "9c617a91ead5c9c3",
        "name": "temp gauge",
        "group": "28d4bbdde9f953ac",
        "order": 2,
        "value": "payload.temp",
        "valueType": "msg",
        "width": 3,
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "36",
                "color": "#00f900",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "39",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7245ea217c743ad6",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "function 1",
        "func": "return{payload:msg.payload.temp}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "30c07574f0518963"
            ]
        ]
    },
    {
        "id": "30c07574f0518963",
        "type": "ui-chart",
        "z": "9c617a91ead5c9c3",
        "group": "28d4bbdde9f953ac",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "timestamp",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "temperature (*C)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "70cb3ff3fbbea485",
        "type": "serial in",
        "z": "9c617a91ead5c9c3",
        "name": "Pressure-In",
        "serial": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "a02bf7650814ff04"
            ]
        ]
    },
    {
        "id": "a02bf7650814ff04",
        "type": "json",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "9465aef0b11ae1ce",
                "bb2fe21995a60ff9",
                "71ad3391f0fb760c",
                "c4a4f3374ef934a7"
            ]
        ]
    },
    {
        "id": "9465aef0b11ae1ce",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "systolic",
        "func": "\nreturn { payload: msg.payload.systolic }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "57e5b55dd50650ad"
            ]
        ]
    },
    {
        "id": "bb2fe21995a60ff9",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "diastolic",
        "func": "\nreturn { payload: msg.payload.diastolic }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "b8a06cd1bf4f6333"
            ]
        ]
    },
    {
        "id": "71ad3391f0fb760c",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "MAP",
        "func": "\n\nreturn { payload: msg.payload.MAP }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "e98e97b45868c909"
            ]
        ]
    },
    {
        "id": "c4a4f3374ef934a7",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "pressure",
        "func": "\n\nreturn { payload: msg.payload.pressure }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "9b4e3e9b8fecfb8c"
            ]
        ]
    },
    {
        "id": "9b4e3e9b8fecfb8c",
        "type": "ui-chart",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 540,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "57e5b55dd50650ad",
        "type": "ui-text",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "order": 4,
        "width": "3",
        "height": "2",
        "name": "SYS",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "b8a06cd1bf4f6333",
        "type": "ui-text",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "DIA",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "e98e97b45868c909",
        "type": "ui-text",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "MAP",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 590,
        "y": 680,
        "wires": []
    }
]