flows.json
[
    {
        "id": "9c617a91ead5c9c3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a17c9063394ce04e",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/cu.usbmodemDCDA0C21C5BC2",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "25e9a4029c0aff9c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "f7e970a831da1739",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4a06c9c93d0ab176",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "25e9a4029c0aff9c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5214809e76c77a9c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "28d4bbdde9f953ac",
        "type": "ui-group",
        "name": "Group 1",
        "page": "4a06c9c93d0ab176",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "5214809e76c77a9c",
        "type": "ui-theme",
        "name": "ui-base.label.theme 2",
        "colors": {
            "surface": "#000000",
            "primary": "#0094ce",
            "bgPage": "#444444",
            "groupBg": "#232323",
            "groupOutline": "#fcffff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "af1055a549205611",
        "type": "serial in",
        "z": "9c617a91ead5c9c3",
        "name": "Temps-Mac",
        "serial": "a17c9063394ce04e",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "d4f158d279f12ee6"
            ]
        ]
    },
    {
        "id": "7a728784d5c34b03",
        "type": "ui-chart",
        "z": "9c617a91ead5c9c3",
        "group": "28d4bbdde9f953ac",
        "name": "Temperature",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "50",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "60",
        "colors": [
            "#ff0000",
            "#0433ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 590,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d4f158d279f12ee6",
        "type": "json",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "51cf3e5d19e7cc44",
                "7a728784d5c34b03"
            ]
        ]
    },
    {
        "id": "51cf3e5d19e7cc44",
        "type": "ui-gauge",
        "z": "9c617a91ead5c9c3",
        "name": "temp gauge",
        "group": "28d4bbdde9f953ac",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "36",
                "color": "#00f900",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "39",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 480,
        "y": 260,
        "wires": [
            []
        ]
    }
]