flows.json
[
    {
        "id": "9c617a91ead5c9c3",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a17c9063394ce04e",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/cu.usbmodemDCDA0C21C5BC2",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "25e9a4029c0aff9c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "f7e970a831da1739",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "5214809e76c77a9c",
        "type": "ui-theme",
        "name": "ui-base.label.theme 2",
        "colors": {
            "surface": "#000000",
            "primary": "#0094ce",
            "bgPage": "#444444",
            "groupBg": "#232323",
            "groupOutline": "#fcffff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4a06c9c93d0ab176",
        "type": "ui-page",
        "name": "Kidney NMP Dashboard",
        "ui": "25e9a4029c0aff9c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5214809e76c77a9c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "28d4bbdde9f953ac",
        "type": "ui-group",
        "name": "Temperature",
        "page": "4a06c9c93d0ab176",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eee6be0fa8cf8841",
        "type": "ui-group",
        "name": "Pressure",
        "page": "4a06c9c93d0ab176",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "59183145f8d0875c",
        "type": "ui-page",
        "name": "Setup",
        "ui": "25e9a4029c0aff9c",
        "path": "/page2",
        "icon": "cog",
        "layout": "grid",
        "theme": "5214809e76c77a9c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c61f9fdcfb121fcd",
        "type": "ui-group",
        "name": "Pressure Setup",
        "page": "59183145f8d0875c",
        "width": "3",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab5a955a20c797d7",
        "type": "ui-group",
        "name": "Persistent Monitoring",
        "page": "59183145f8d0875c",
        "width": "3",
        "height": "12",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8454efb05038013c",
        "type": "ui-group",
        "name": "Pump Control",
        "page": "59183145f8d0875c",
        "width": "6",
        "height": "3",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ab0188a40f8728a",
        "type": "ui-spacer",
        "group": "8454efb05038013c",
        "name": "spacer",
        "order": 2,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "af1055a549205611",
        "type": "serial in",
        "z": "9c617a91ead5c9c3",
        "name": "Temps-Mac",
        "serial": "a17c9063394ce04e",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "d4f158d279f12ee6"
            ]
        ]
    },
    {
        "id": "d4f158d279f12ee6",
        "type": "json",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "51cf3e5d19e7cc44",
                "7245ea217c743ad6",
                "b25fe710b1019823"
            ]
        ]
    },
    {
        "id": "51cf3e5d19e7cc44",
        "type": "ui-gauge",
        "z": "9c617a91ead5c9c3",
        "name": "temp gauge",
        "group": "28d4bbdde9f953ac",
        "order": 2,
        "value": "payload.temp",
        "valueType": "msg",
        "width": 3,
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "36",
                "color": "#00f900",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "39",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7245ea217c743ad6",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "function 1",
        "func": "return{payload:msg.payload.temp}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "30c07574f0518963"
            ]
        ]
    },
    {
        "id": "30c07574f0518963",
        "type": "ui-chart",
        "z": "9c617a91ead5c9c3",
        "group": "28d4bbdde9f953ac",
        "name": "",
        "label": "Temperature Chart",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "timestamp",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "temperature (*C)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#00fdff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ffffff"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#0061ff"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "70cb3ff3fbbea485",
        "type": "serial in",
        "z": "9c617a91ead5c9c3",
        "name": "Pressure-In",
        "serial": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "a02bf7650814ff04"
            ]
        ]
    },
    {
        "id": "a02bf7650814ff04",
        "type": "json",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "9465aef0b11ae1ce",
                "bb2fe21995a60ff9",
                "71ad3391f0fb760c",
                "c4a4f3374ef934a7"
            ]
        ]
    },
    {
        "id": "9465aef0b11ae1ce",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "systolic",
        "func": "\nreturn { payload: msg.payload.systolic }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "57e5b55dd50650ad"
            ]
        ]
    },
    {
        "id": "bb2fe21995a60ff9",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "diastolic",
        "func": "\nreturn { payload: msg.payload.diastolic }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "b8a06cd1bf4f6333"
            ]
        ]
    },
    {
        "id": "71ad3391f0fb760c",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "MAP",
        "func": "\n\nreturn { payload: msg.payload.MAP }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "e98e97b45868c909"
            ]
        ]
    },
    {
        "id": "c4a4f3374ef934a7",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "pressure",
        "func": "\n\nreturn { payload: msg.payload.pressure }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "9b4e3e9b8fecfb8c"
            ]
        ]
    },
    {
        "id": "9b4e3e9b8fecfb8c",
        "type": "ui-chart",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "name": "",
        "label": "pressure chart",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ffffff"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 570,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "57e5b55dd50650ad",
        "type": "ui-text",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "SYS",
        "label": "SYS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "b8a06cd1bf4f6333",
        "type": "ui-text",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "DIA",
        "label": "DIA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "e98e97b45868c909",
        "type": "ui-text",
        "z": "9c617a91ead5c9c3",
        "group": "eee6be0fa8cf8841",
        "order": 4,
        "width": "3",
        "height": "2",
        "name": "MAP",
        "label": "MAP",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "342858d7b399b034",
        "type": "ui-button",
        "z": "9c617a91ead5c9c3",
        "group": "c61f9fdcfb121fcd",
        "name": "Zero Pressure Sensor",
        "label": "Zero Pressure Sensor",
        "order": 2,
        "width": "3",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-target",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 900,
        "wires": [
            [
                "6485907aaa5396be"
            ]
        ]
    },
    {
        "id": "ada7a79e1a21f33e",
        "type": "ui-notification",
        "z": "9c617a91ead5c9c3",
        "ui": "25e9a4029c0aff9c",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": true,
        "confirmText": "Confirm",
        "raw": true,
        "className": "",
        "name": "are you sure",
        "x": 630,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "6b43b98d2fd9a609",
        "type": "ui-markdown",
        "z": "9c617a91ead5c9c3",
        "group": "c61f9fdcfb121fcd",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "### Zeroing Pressure Transducer\n\n1. Turn the stopcock off to the perfusate line.\n2. Remove the nonvented cap from the stopcock, opening it to air.\n3. **Press the zero button below.**\n4. Place a new, sterile cap on the stopcock.\n5. Turn the stopcock to open the transducer to the perfusate line. ",
        "className": "",
        "x": 110,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "6485907aaa5396be",
        "type": "function",
        "z": "9c617a91ead5c9c3",
        "name": "function 2",
        "func": "msg.payload = \"<h1>Confirmation</h1> <p>Are you sure you want to zero?</b></p>\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 900,
        "wires": [
            [
                "ada7a79e1a21f33e"
            ]
        ]
    },
    {
        "id": "b25fe710b1019823",
        "type": "ui-gauge",
        "z": "9c617a91ead5c9c3",
        "name": "temp gauge setup page",
        "group": "ab5a955a20c797d7",
        "order": 1,
        "value": "payload.temp",
        "valueType": "msg",
        "width": 3,
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "36",
                "color": "#00f900",
                "text": "",
                "textType": "label"
            },
            {
                "from": "38",
                "color": "#fffb00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "39",
                "color": "#ff9300",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ff2600",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc8a2c57f27f4fc",
        "type": "ui-switch",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "label": "Pump On-Off Switch",
        "group": "8454efb05038013c",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "mdi-power mdi-48px",
        "oncolor": "#00ff00",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "mdi-power-plug-off mdi-48px",
        "offcolor": "#ff0000",
        "x": 180,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "99c966a84bb8531c",
        "type": "ui-slider",
        "z": "9c617a91ead5c9c3",
        "group": "8454efb05038013c",
        "name": "Pump Speed",
        "label": "Pump Speed (mL/ min)",
        "tooltip": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "1000",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 150,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "e33feaec7820ee72",
        "type": "ui-template",
        "z": "9c617a91ead5c9c3",
        "group": "",
        "page": "4a06c9c93d0ab176",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "body {\n    font-family: monospace;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "38ead5d90b49a858",
        "type": "ui-switch",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "label": "Set Pump Direction",
        "group": "8454efb05038013c",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "mdi-restore mdi-48px",
        "oncolor": "#ffffff",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "mdi-reload mdi-48px",
        "offcolor": "#ffffff",
        "x": 190,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "b837e4287355fdfc",
        "type": "ui-button-group",
        "z": "9c617a91ead5c9c3",
        "name": "",
        "group": "8454efb05038013c",
        "order": 1,
        "width": "3",
        "height": 1,
        "label": "Pump On-Off Switch",
        "className": "",
        "rounded": true,
        "useThemeColors": false,
        "passthru": false,
        "options": [
            {
                "label": "On",
                "icon": "mdi-power mdi-48px",
                "value": "true",
                "valueType": "bool",
                "color": "#00f900"
            },
            {
                "label": "Off",
                "icon": "mdi-power mdi-48px",
                "value": "false",
                "valueType": "bool",
                "color": "#ff2600"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1000,
        "wires": [
            []
        ]
    }
]